@model RestSys.Models.RSProduct
@using RestSys.Resources
@{
    ViewBag.Title = Resources.Details;
}
@section Scripts{
    <script type="text/javascript">
        ModelId = '@Model.Id';
    </script>
}
<h2>@Resources.ProductDetails</h2>
<div>
    <dl class="dl-horizontal" ng-controller="ProductsController">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd id="detailTitle">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowOnMenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOnMenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

		<dt>
			@Html.DisplayNameFor(model => model.SubCategory)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SubCategory)
		</dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stocks)
        </dt>
        <dd>
            <ul id="detailStock">
                <li ng-repeat="stock in stocks">
                    {{stock.title}} {{stock.amount}}
                </li>
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(Resources.BackToList, "Index")
</p>
