@model RestSys.Models.RSOrder
@using RestSys.Models
@using RestSys.Resources

@{
    ViewBag.Title = "Details";
    var Db = new RSDbContext();
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dd>@Resources.TotalPrice</dd>
        <dt>@Model.Items.Sum(i => i.Price)</dt>
    </dl>

    
</div>
<p>
    @Html.ActionLink(@Resources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(@Resources.BackToList, "Index")
</p>
