@model IEnumerable<RestSys.Models.RSProduct>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
    <link href="/Styles/MenuStyle" rel="stylesheet" />
</head>
<body>
    <div id="page">
        <h1>Menu</h1>
        @foreach (var category in Model.GroupBy(p => p.Category))
        {
            <div class="menu-category">
                <h2>@category.Key</h2>
                @foreach (var subcategory in category.GroupBy(p => p.SubCategory))
                {
                    <div class="menu-subcategory">
                        <h3>@subcategory.Key</h3>
                        @foreach (var product in subcategory)
                        {
                            <div class="menu-item">
                                <h5>@product.Title</h5>
                                <p class="menu-stocks">
                                    @String.Join(", ", product.Stocks.Select(si => si.Stock != null ? string.Format("{0} {1}{2}", si.Stock.Title, si.Amount, si.Stock.Unit) : ""))
                                </p>
                                <p class="menu-description">
                                    @product.Description
                                </p>
                                <div class="menu-price">
                                    @product.Price Kč
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
</body>
</html>