@model RSDbContext
@using RestSys.Resources
@using RestSys.Models;

<h2>@Resources.Dashboard</h2>
<div id="dashboard">
    <div class="dashboard-item">
        <p class="dashboard-desc">Informace o uživateli</p>
        <p class="dashboard-data">
            <strong>Přihlašovací jméno: </strong>  @((User.Identity as RSUser).Username)<br />
            <strong>Jméno: </strong> @((User.Identity as RSUser).Name)<br />
            @Html.ActionLink(Resources.Logout, "Logout", "Account")
        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Celková hodnota objednávek za dnešní den</p>
        <p class="dashboard-data">@Model.Orders.Sum(o => o.Items.Sum(oi => oi.Price))  Kč</p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Zboží s nízkým množství na skladě</p>
        <p class="dashboard-data">
            <ul>
                @foreach (var stock in Model.Stocks.Where(s => s.Quantity < s.CriticalQuantity).OrderBy(s => s.Quantity / s.CriticalQuantity).Take(5))
                {
                    <li>@stock.Title - @stock.Quantity @stock.Unit</li>
                }
            </ul>
        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Využité zboží za dnešní den</p>
        <p class="dashboard-data">
            <ul>
                <li>Rum - 4l</li>
                <li>Cola - 17l</li>
                <li>Limetky - 26ks</li>
            </ul>
        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Nejpopulárnější produkty</p>
        <p class="dashboard-data">
            <ol>
                @foreach (var product in Model.Products.Include("OrderItems").OrderBy(p => p.DependentOrderItems.Count).Take(5))
                {
                    <li>@product.Title</li>
                }
            </ol>
        </p>
    </div>
</div>