@model RSDbContext
@using RestSys.Resources
@using RestSys.Models;
<h2>@Resources.Dashboard</h2>
<div id="dashboard">
    <div class="dashboard-item">
        <p class="dashboard-desc">Informace o uživateli</p>
        <p class="dashboard-data">
            <strong>Přihlašovací jméno: </strong>  @ViewBag.Username<br />
            <strong>Jméno: </strong> @ViewBag.Name<br />
            @Html.ActionLink(Resources.Logout, "Logout", "Account")
        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Celková hodnota objednávek za dnešní den</p>
        <p class="dashboard-data">@ViewBag.TodayOrdersTotal  Kč</p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Zboží s nízkým množství na skladě</p>
        <p class="dashboard-data">
            <ul>
                @foreach (var stock in ViewBag.StocksLowOnStock)
                {
                    <li>@stock.Title - @stock.Quantity @stock.Unit</li>
                }
            </ul>
        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Využité zboží za dnešní den</p>
        <p class="dashboard-data">
			<ul>
				@foreach (dynamic stock in ViewBag.TodayMostUsedStock)
				{
					<li>@stock.Title - @stock.Quantity @stock.Unit</li>
				}
			</ul>

        </p>
    </div>

    <div class="dashboard-item">
        <p class="dashboard-desc">Nejpopulárnější produkty</p>
        <p class="dashboard-data">
            <ol>
                @foreach (var product in ViewBag.MostPopularProducts)
                {
                    <li>@product.Title</li>
                }
            </ol>
        </p>
    </div>
</div>