@using RestSys.Resources
<!DOCTYPE html>
<html ng-app="">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>RestSys @ViewBag.Title</title>
	@Styles.Render("~/bundles/css")
	@Scripts.Render("~/bundles/js")
	@RenderSection("scripts", required: false)
</head>
<body>
	<div id="page">
		<ul id="menu">
			<li>@Html.ActionLink(Resources.Products, "Index", "Products")</li>
			<li>@Html.ActionLink(Resources.Stocks, "Index", "Stocks")</li>
		</ul>
		<div id="content">
			@RenderBody()
		</div>
	</div>
</body>
</html>
