@using RestSys.Resources;
@{
    ViewBag.Title = "Login";
}

<h2>@Resources.RestSysLogin</h2>

@using (Html.BeginForm())
{
    if (ViewBag.ShowMessage)
    {
        <div class="message @ViewBag.MessageColor">
            @ViewBag.Message
        </div>
    }
    
    <label for="username">@Resources.Username:</label><br />
    <input type="text" name="username" value="" id="username" /><br/>

    <label for="password">@Resources.Password:</label><br />
    <input type="password" name="password" value="" id="password" /><br />
    
    <input type="submit" value="Submit"/>
}